.g-view
  margin-bottom 15px

  .g-left
    width 256px
    height 512px
    float left

  .g-seg-1
    width 246px
    height 246px
    margin 5px
    background-color #0e84b5

  .g-base
    width 246px
    height 246px
    margin 5px
    background-color #0e84b5

  .g-seg-2
    width 246px
    height 246px
    margin 5px
    background-color #0e84b5

  .g-seg-diff
    width 246px
    height 246px
    margin 5px
    background-color #0e84b5

  .g-right
    margin-left 261px
    width 256px
    height 512px

  .g-filename
    text-align center
    margin 5px
    white-space nowrap
    overflow hidden

  .g-seg-controls
    float right

    button
      margin-left 5px
      margin-right 5px
