.g-view
  margin-bottom 15px

  .g-left
    width 512px
    height 512px
    float left

  .g-seg-1
    width 502px
    height 246px
    margin 5px
    background-color #5cb85c

  .g-seg-1-filename
    text-align center
    white-space nowrap
    overflow hidden

  .g-base
    width 502px
    height 246px
    margin 5px
    background-color #5cb85c

  .g-base-filename
    text-align center
    white-space nowrap
    overflow hidden

  .g-right
    margin-left 507px
    width 256px
    height 512px

  .g-seg-2
    width 502px
    height 246px
    margin 5px
    background-color #5cb85c

  .g-seg-2-filename
    text-align center
    white-space nowrap
    overflow hidden

  .g-seg-diff
    width 502px
    height 246px
    margin 5px
    background-color #5cb85c

  .g-diff-name
    text-align center
    white-space nowrap
    overflow hidden

  .g-seg-controls
    float right

    button
      margin-left 5px
      margin-right 5px
