.g-container
  .g-item-info-header
    i.icon-picture
    | Segmentation Viewer
.g-panes.clearfix
  .g-file-selection
    button.g-test.btn.btn-sm.btn-default(title="Zoom In")
      | Test

  .g-left
    // left up
    .g-seg-1
      .g-seg-1-image
      .g-seg-1-filename
    // left down
    .g-base
      .g-base-image
      .g-base-filename

  .g-right
    // right up
    .g-seg-2
      .g-seg-2-image
      .g-seg-2-filename
    // right down
    .g-seg-diff
      .g-seg-diff-image
      // May be better as literal text
      .g-diff-name
        | Difference

  .g-seg-controls
    button.g-seg-zoom-in.btn.btn-sm.btn-default(title="Zoom In")
      i.icon-zoom-in
    button.g-seg-zoom-out.btn.btn-sm.btn-default(title="Zoom Out")
      i.icon-zoom-out
    button.g-seg-reset-zoom.btn.btn-sm.btn-default(title="Reset Zoom")
      i.icon-search
    button.g-seg-auto-levels.btn.btn-sm.btn-default(title="Auto Levels")
      i.icon-ajust
